[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Conky Restart
Comment=Restart all Conky displays
Exec=/usr/bin/conkyrestart.sh
OnlyShowIn=XFCE;
StartupNotify=true
Terminal=false
Categories=GTK;Utility;
Hidden=false

